<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PchavaWeb</display-name>
  <servlet>
    <servlet-name>EmployeeDirectoryMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>  
    <servlet-name>EmployeeDirectoryInit</servlet-name>
    <servlet-class>EmployeeAssign.servlets.EmployeeDirectoryInit</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDirectoryMvc</servlet-name>
    <url-pattern>/EmployeeDirectoryMvc/*</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.springframework.org/tags/form</taglib-uri>
      <taglib-location>/WEB-INF/tlds/spring-form.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.springframework.org/tags/spring</taglib-uri>
      <taglib-location>/WEB-INF/tlds/spring.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>EmployeeDirectoryDemoTags</taglib-uri>
      <taglib-location>/WEB-INF/tlds/DemoTags.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>